@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Mate:ital@0;1&family=Oswald:wght@200..700&family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: black;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    background: url('');
    background-position: center;
    background-size: cover;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
}

h1 {
    
    font-size: 1em;
    margin-block-start: .80em;
    margin-block-end: 0em;
    margin-inline-start: px;
    margin-inline-end:-260px;
    font-weight: bolder ;
    unicode-bidi: isolate;
    color: 	#807d7d;
}

h2 {
    font-family: "Mate", serif;
    font-size: 3em;
    margin-block-start: 0.69em;
    margin-block-end: 5.90em;
    margin-inline-start: 120px;
    margin-inline-end:-390px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #ffffff;
}

h3 {
    font-size: 2em;
    position: fixed;
    margin-block-start: 11em;
    margin-inline-start: 990px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
            
      
}

.search-bar {
    width: 50%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 1px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 50px;
    font-size: 20px;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
    padding: 3px;
}

.search-bar button {
    border: 0;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    background: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button i {
    color: #ffffff;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.logo-box{
    text-align: center;
}


.logo{
    width: 300px;
    height: 260px;
    margin-inline-start: 250px;    
    /* display: block; */
}

.search-box{
    display: flex;
    justify-content: center;
}

.LogoX{
    width: 50px;
    height: 50px;
    position: absolute;
    margin:-1%;
}

/* From Uiverse.io by akshat-patel28 */ 
.card {
    /* width: 280px; */
    /* height: 150px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85)); */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: rgb(255, 255, 255) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
  }
  
  .time-text {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time-sub-text {
    font-size: 15px;
    margin-left: 5px;
  }
  
  .day-text {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 0em;
  }
  
  .moon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover > .moon {
    font-size: 23px;
  }
  

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
        
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}
  
